In [1]:
#imports and notebook settings
from IPython.core.display import display, HTML
display(HTML("<style>.container {width:90% !important;}</style>"))

import numpy as np
import pandas as pd
# pd.set_option('display.max_rows', None)

In [2]:
# df = pd.read_csv('2015.csv')
# df.sample(10)

# df = pd.read_csv('2016.csv')
# df.sample(10)

# df = pd.read_csv('2017.csv')
# df.sample(10)

# df = pd.read_csv('2018.csv')
# df.sample(10)

df = pd.read_csv('2019.csv')
df.sample(10)

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
114,115,Burkina Faso,4.587,0.331,1.056,0.380,0.255,0.177,0.113
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
39,40,Poland,6.182,1.206,1.438,0.884,0.483,0.117,0.050
110,111,Senegal,4.681,0.450,1.134,0.571,0.292,0.153,0.072
85,86,Kyrgyzstan,5.261,0.551,1.438,0.723,0.508,0.300,0.023
29,30,Spain,6.354,1.286,1.484,1.062,0.362,0.153,0.079
45,46,Kosovo,6.100,0.882,1.232,0.758,0.489,0.262,0.006
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091
65,66,Portugal,5.693,1.221,1.431,0.999,0.508,0.047,0.025
90,91,Lebanon,5.197,0.987,1.224,0.815,0.216,0.166,0.027

In [3]:
print(df.shape)
print('----------------------------------------------------------------------------')
print(df.columns)

(156, 9)
----------------------------------------------------------------------------
Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Overall rank                  156 non-null    int64
 1   Country or region             156 non-null    object
 2   Score                         156 non-null    float64
 3   GDP per capita                156 non-null    float64
 4   Social support                156 non-null    float64
 5   Healthy life expectancy       156 non-null    float64
 6   Freedom to make life choices  156 non-null    float64
 7   Generosity                    156 non-null    float64
 8   Perceptions of corruption     156 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.1+ KB

In [5]:
df.describe()

,Overall rank,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
count,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000
mean,78.500000,5.407096,0.905147,1.208814,0.725244,0.392571,0.184846,0.110603
std,45.177428,1.113120,0.398389,0.299191,0.242124,0.143289,0.095254,0.094538
min,1.000000,2.853000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,39.750000,4.544500,0.602750,1.055750,0.547750,0.308000,0.108750,0.047000
50%,78.500000,5.379500,0.960000,1.271500,0.789000,0.417000,0.177500,0.085500
75%,117.250000,6.184500,1.232500,1.452500,0.881750,0.507250,0.248250,0.141250
max,156.000000,7.769000,1.684000,1.624000,1.141000,0.631000,0.566000,0.453000

In [6]:
df.duplicated().sum()

0

In [7]:
##2015, 2016
# df.rename(columns={'Country':'country', 'Region':'region', 'Happiness Rank': 'happiness_rank', 'Happiness Score':'happiness_score',
#                   'Economy (GDP per Capita)':'economy', 'Family':'family','Health (Life Expectancy)':'life_expectancy',
#                   'Freedom':'freedom', 'Trust (Government Corruption)' : 'govt_trust','Generosity':'generosity', 'Dystopia Residual':'dystopia_residual'
#                   }, inplace=True)

##2017
# df.rename(columns={'Country':'country', 'Happiness.Rank': 'happiness_rank', 'Happiness.Score':'happiness_score',
#                   'Economy..GDP.per.Capita.':'economy', 'Family':'family','Health..Life.Expectancy.':'life_expectancy',
#                   'Freedom':'freedom', 'Trust..Government.Corruption.' : 'govt_trust','Generosity':'generosity', 'Dystopia.Residual':'dystopia_residual'
#                   }, inplace=True)

##2018, 2019
df.rename(columns={'Country or region':'country', 'Overall rank': 'happiness_rank', 'Score':'happiness_score',
                  'GDP per capita':'economy', 'Social support':'family','Healthy life expectancy':'life_expectancy',
                  'Freedom to make life choices':'freedom', 'Perceptions of corruption' : 'govt_trust','Generosity':'generosity'}, inplace=True)

In [41]:
# Only for 2018 as there was a single NaN in gov_trust column which would throw an error while calculating 'Dystopia Residual' due to dtype mismatch. 
df['govt_trust'].fillna(0.0, inplace=True)
df['govt_trust'] = df['govt_trust'].astype(float)

In [8]:
#2018, 2019
df['dystopia_residual'] = df['happiness_score'] - (df['economy'] + df['family'] + df['life_expectancy'] + df['freedom'] + df['govt_trust'] + df['generosity'])

In [9]:
##2015
# df.drop(columns=['Standard Error'], inplace=True)
# df

##2016
# df.drop(columns=['Lower Confidence Interval', 'Upper Confidence Interval'], inplace=True)
# df

##2017
# df.drop(columns=['Whisker.high', 'Whisker.low'], inplace=True)
# df = df[['country', 'happiness_rank', 'happiness_score', 'economy','family', 'life_expectancy', 
#          'freedom', 'govt_trust', 'generosity', 'dystopia_residual']]
# df

##2018, 2019
df = df[['country', 'happiness_rank', 'happiness_score', 'economy','family', 'life_expectancy', 
         'freedom', 'govt_trust', 'generosity', 'dystopia_residual']]
df

,country,happiness_rank,happiness_score,economy,family,life_expectancy,freedom,govt_trust,generosity,dystopia_residual
0,Finland,1,7.769,1.340,1.587,0.986,0.596,0.393,0.153,2.714
1,Denmark,2,7.600,1.383,1.573,0.996,0.592,0.410,0.252,2.394
2,Norway,3,7.554,1.488,1.582,1.028,0.603,0.341,0.271,2.241
3,Iceland,4,7.494,1.380,1.624,1.026,0.591,0.118,0.354,2.401
4,Netherlands,5,7.488,1.396,1.522,0.999,0.557,0.298,0.322,2.394
...,...,...,...,...,...,...,...,...,...,...
151,Rwanda,152,3.334,0.359,0.711,0.614,0.555,0.411,0.217,0.467
152,Tanzania,153,3.231,0.476,0.885,0.499,0.417,0.147,0.276,0.531
153,Afghanistan,154,3.203,0.350,0.517,0.361,0.000,0.025,0.158,1.792
154,Central African Republic,155,3.083,0.026,0.000,0.105,0.225,0.035,0.235,2.457
155,South Sudan,156,2.853,0.306,0.575,0.295,0.010,0.091,0.202,1.374

In [25]:
#creating a master country lookup table, that contains country continent and region information.
#fetch contry-continent information from 'https://statisticstimes.com/geography/countries-by-continents.php'

# country_lookup = pd.read_clipboard()
# country_lookup.head()

,No,Country or Area,ISO-alpha3 Code,M49 Code,Region 1,Region 2,Continent
0,1,Afghanistan,AFG,4,Southern Asia,NaN,Asia
1,2,Åland Islands,ALA,248,Northern Europe,NaN,Europe
2,3,Albania,ALB,8,Southern Europe,NaN,Europe
3,4,Algeria,DZA,12,Northern Africa,NaN,Africa
4,5,American Samoa,ASM,16,Polynesia,NaN,Oceania

In [10]:
# country_lookup.drop(columns = ['No', 'ISO-alpha3 Code', 'M49 Code'], inplace=True)
# country_lookup.rename(columns={'Country or Area':'country', 'Region 1':'region1','Region 2':'region2', 'Continent':'continent'}, inplace=True)
# country_lookup

In [11]:
# country_lookup.to_csv('country_lookup.csv')
country_lookup = pd.read_csv('country_lookup.csv')

In [12]:
#checking for discrepancy between country names in dataframe and country lookup table. 

df[df['country'].isin(country_lookup['country']) == False]

,country,happiness_rank,happiness_score,economy,family,life_expectancy,freedom,govt_trust,generosity,dystopia_residual
14,United Kingdom,15,7.054,1.333,1.538,0.996,0.450,0.278,0.348,2.111
18,United States,19,6.892,1.433,1.457,0.874,0.454,0.128,0.280,2.266
19,Czech Republic,20,6.852,1.269,1.487,0.920,0.457,0.036,0.046,2.637
24,Taiwan,25,6.446,1.368,1.430,0.914,0.351,0.097,0.242,2.044
38,Trinidad & Tobago,39,6.192,1.231,1.477,0.713,0.489,0.016,0.185,2.081
45,Kosovo,46,6.100,0.882,1.232,0.758,0.489,0.006,0.262,2.471
53,South Korea,54,5.895,1.301,1.219,1.036,0.159,0.056,0.175,1.949
60,Bolivia,61,5.779,0.776,1.209,0.706,0.511,0.064,0.137,2.376
63,Northern Cyprus,64,5.718,1.263,1.252,1.042,0.417,0.162,0.191,1.391
67,Russia,68,5.648,1.183,1.452,0.726,0.334,0.031,0.082,1.840
70,Moldova,71,5.529,0.685,1.328,0.739,0.245,0.000,0.181,2.351
75,Hong Kong,76,5.430,1.438,1.277,1.122,0.440,0.287,0.258,0.608
93,Vietnam,94,5.175,0.741,1.346,0.851,0.543,0.073,0.147,1.474
98,Ivory Coast,99,4.944,0.569,0.808,0.232,0.352,0.090,0.154,2.739
102,Congo (Brazzaville),103,4.812,0.673,0.799,0.508,0.372,0.093,0.105,2.262
104,Laos,105,4.796,0.764,1.030,0.551,0.547,0.164,0.266,1.474
107,Venezuela,108,4.707,0.960,1.427,0.805,0.154,0.047,0.064,1.250
109,Palestinian Territories,110,4.696,0.657,1.247,0.672,0.225,0.066,0.103,1.726
116,Iran,117,4.548,1.100,0.842,0.785,0.305,0.125,0.270,1.121
126,Congo (Kinshasa),127,4.418,0.094,1.125,0.357,0.269,0.053,0.212,2.308
134,Swaziland,135,4.212,0.811,1.149,0.000,0.313,0.135,0.074,1.730
148,Syria,149,3.462,0.619,0.378,0.440,0.013,0.141,0.331,1.540
152,Tanzania,153,3.231,0.476,0.885,0.499,0.417,0.147,0.276,0.531

In [13]:
# merging country lookup and current dataframe. 

# updated_2015 = df.merge(country_lookup, how = 'left', on = 'country') 
# updated_2015

# updated_2016 = df.merge(country_lookup, how = 'left', on = 'country') 
# updated_2016

# updated_2017 = df.merge(country_lookup, how = 'left', on = 'country') 
# updated_2017

# updated_2018 = df.merge(country_lookup, how = 'left', on = 'country') 
# updated_2018

updated_2019 = df.merge(country_lookup, how = 'left', on = 'country') 
updated_2019

,country,happiness_rank,happiness_score,economy,family,life_expectancy,freedom,govt_trust,generosity,dystopia_residual,Unnamed: 0,region1,region2,continent
0,Finland,1,7.769,1.340,1.587,0.986,0.596,0.393,0.153,2.714,79.0,Northern Europe,NaN,Europe
1,Denmark,2,7.600,1.383,1.573,0.996,0.592,0.410,0.252,2.394,64.0,Northern Europe,NaN,Europe
2,Norway,3,7.554,1.488,1.582,1.028,0.603,0.341,0.271,2.241,165.0,Northern Europe,NaN,Europe
3,Iceland,4,7.494,1.380,1.624,1.026,0.591,0.118,0.354,2.401,105.0,Northern Europe,NaN,Europe
4,Netherlands,5,7.488,1.396,1.522,0.999,0.557,0.298,0.322,2.394,155.0,Western Europe,NaN,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151,Rwanda,152,3.334,0.359,0.711,0.614,0.555,0.411,0.217,0.467,184.0,Eastern Africa,Sub-Saharan Africa,Africa
152,Tanzania,153,3.231,0.476,0.885,0.499,0.417,0.147,0.276,0.531,NaN,NaN,NaN,NaN
153,Afghanistan,154,3.203,0.350,0.517,0.361,0.000,0.025,0.158,1.792,0.0,Southern Asia,NaN,Asia
154,Central African Republic,155,3.083,0.026,0.000,0.105,0.225,0.035,0.235,2.457,43.0,Middle Africa,Sub-Saharan Africa,Africa
155,South Sudan,156,2.853,0.306,0.575,0.295,0.010,0.091,0.202,1.374,209.0,Eastern Africa,Sub-Saharan Africa,Africa

In [14]:
updated_2019.columns

Index(['country', 'happiness_rank', 'happiness_score', 'economy', 'family',
       'life_expectancy', 'freedom', 'govt_trust', 'generosity',
       'dystopia_residual', 'Unnamed: 0', 'region1', 'region2', 'continent'],
      dtype='object')

In [15]:
# Re-ordering the columns to facilitate concatenation later. 

# updated_2015 = updated_2015[['country', 'region', 'region1', 'region2', 'continent', 'happiness_rank', 'happiness_score', 'economy',
#        'family', 'life_expectancy', 'freedom', 'govt_trust', 'generosity','dystopia_residual']]
# updated_2015

# updated_2016 = updated_2016[['country', 'region', 'region1', 'region2', 'continent', 'happiness_rank', 'happiness_score', 'economy',
#        'family', 'life_expectancy', 'freedom', 'govt_trust', 'generosity','dystopia_residual']]
# updated_2016

# updated_2017 = updated_2017[['country', 'region1', 'region2', 'continent', 'happiness_rank', 'happiness_score', 'economy',
#        'family', 'life_expectancy', 'freedom', 'govt_trust', 'generosity','dystopia_residual']]
# updated_2017

# updated_2018 = updated_2018[['country', 'region1', 'region2', 'continent', 'happiness_rank', 'happiness_score', 'economy',
#        'family', 'life_expectancy', 'freedom', 'govt_trust', 'generosity','dystopia_residual']]
# updated_2018

updated_2019 = updated_2019[['country', 'region1', 'region2', 'continent', 'happiness_rank', 'happiness_score', 'economy',
       'family', 'life_expectancy', 'freedom', 'govt_trust', 'generosity','dystopia_residual']]
updated_2019

,country,region1,region2,continent,happiness_rank,happiness_score,economy,family,life_expectancy,freedom,govt_trust,generosity,dystopia_residual
0,Finland,Northern Europe,NaN,Europe,1,7.769,1.340,1.587,0.986,0.596,0.393,0.153,2.714
1,Denmark,Northern Europe,NaN,Europe,2,7.600,1.383,1.573,0.996,0.592,0.410,0.252,2.394
2,Norway,Northern Europe,NaN,Europe,3,7.554,1.488,1.582,1.028,0.603,0.341,0.271,2.241
3,Iceland,Northern Europe,NaN,Europe,4,7.494,1.380,1.624,1.026,0.591,0.118,0.354,2.401
4,Netherlands,Western Europe,NaN,Europe,5,7.488,1.396,1.522,0.999,0.557,0.298,0.322,2.394
...,...,...,...,...,...,...,...,...,...,...,...,...,...
151,Rwanda,Eastern Africa,Sub-Saharan Africa,Africa,152,3.334,0.359,0.711,0.614,0.555,0.411,0.217,0.467
152,Tanzania,NaN,NaN,NaN,153,3.231,0.476,0.885,0.499,0.417,0.147,0.276,0.531
153,Afghanistan,Southern Asia,NaN,Asia,154,3.203,0.350,0.517,0.361,0.000,0.025,0.158,1.792
154,Central African Republic,Middle Africa,Sub-Saharan Africa,Africa,155,3.083,0.026,0.000,0.105,0.225,0.035,0.235,2.457
155,South Sudan,Eastern Africa,Sub-Saharan Africa,Africa,156,2.853,0.306,0.575,0.295,0.010,0.091,0.202,1.374

In [16]:
# Replace NaN values with 'N/A'

# updated_2015.replace(np.nan, 'N/A', inplace = True)
# updated_2015

# updated_2016.replace(np.nan, 'N/A', inplace = True)
# updated_2016

# updated_2017.replace(np.nan, 'N/A', inplace = True)
# updated_2017

# updated_2018.replace(np.nan, 'N/A', inplace = True)
# updated_2018

updated_2019.replace(np.nan, 'N/A', inplace = True)
updated_2019

C:\Users\subra\anaconda3\envs\tfgpu\lib\site-packages\pandas\core\frame.py:4172: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

,country,region1,region2,continent,happiness_rank,happiness_score,economy,family,life_expectancy,freedom,govt_trust,generosity,dystopia_residual
0,Finland,Northern Europe,N/A,Europe,1,7.769,1.340,1.587,0.986,0.596,0.393,0.153,2.714
1,Denmark,Northern Europe,N/A,Europe,2,7.600,1.383,1.573,0.996,0.592,0.410,0.252,2.394
2,Norway,Northern Europe,N/A,Europe,3,7.554,1.488,1.582,1.028,0.603,0.341,0.271,2.241
3,Iceland,Northern Europe,N/A,Europe,4,7.494,1.380,1.624,1.026,0.591,0.118,0.354,2.401
4,Netherlands,Western Europe,N/A,Europe,5,7.488,1.396,1.522,0.999,0.557,0.298,0.322,2.394
...,...,...,...,...,...,...,...,...,...,...,...,...,...
151,Rwanda,Eastern Africa,Sub-Saharan Africa,Africa,152,3.334,0.359,0.711,0.614,0.555,0.411,0.217,0.467
152,Tanzania,N/A,N/A,N/A,153,3.231,0.476,0.885,0.499,0.417,0.147,0.276,0.531
153,Afghanistan,Southern Asia,N/A,Asia,154,3.203,0.350,0.517,0.361,0.000,0.025,0.158,1.792
154,Central African Republic,Middle Africa,Sub-Saharan Africa,Africa,155,3.083,0.026,0.000,0.105,0.225,0.035,0.235,2.457
155,South Sudan,Eastern Africa,Sub-Saharan Africa,Africa,156,2.853,0.306,0.575,0.295,0.010,0.091,0.202,1.374

In [62]:
# updated_2015.to_csv('updated_2015.csv', index = False)
# updated_2016.to_csv('updated_2016.csv', index = False)
# updated_2017.to_csv('updated_2017.csv', index = False)
# updated_2018.to_csv('updated_2018.csv', index = False)
updated_2019.to_csv('updated_2019.csv', index = False)

In [18]:
#creating a combined dataset
updated_2015 = pd.read_csv('updated_2015.csv')
updated_2016 = pd.read_csv('updated_2016.csv')
updated_2017 = pd.read_csv('updated_2017.csv')
updated_2018 = pd.read_csv('updated_2018.csv')
updated_2019 = pd.read_csv('updated_2019.csv')

updated_2015['year'] = 2015
updated_2016['year'] = 2016
updated_2017['year'] = 2017
updated_2018['year'] = 2018
updated_2019['year'] = 2019

combined_file = pd.concat([updated_2015, updated_2016, updated_2017, updated_2018, updated_2019], ignore_index = True)
combined_file

,country,region1,region2,continent,happiness_rank,happiness_score,economy,family,life_expectancy,freedom,govt_trust,generosity,dystopia_residual,year
0,Switzerland,Western Europe,NaN,Europe,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015
1,Iceland,Northern Europe,NaN,Europe,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015
2,Denmark,Northern Europe,NaN,Europe,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015
3,Norway,Northern Europe,NaN,Europe,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015
4,Canada,Northern America,NaN,North America,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
777,Rwanda,Eastern Africa,Sub-Saharan Africa,Africa,152,3.334,0.35900,0.71100,0.61400,0.55500,0.41100,0.21700,0.46700,2019
778,Tanzania,Eastern Africa,Sub-Saharan Africa,Africa,153,3.231,0.47600,0.88500,0.49900,0.41700,0.14700,0.27600,0.53100,2019
779,Afghanistan,Southern Asia,NaN,Asia,154,3.203,0.35000,0.51700,0.36100,0.00000,0.02500,0.15800,1.79200,2019
780,Central African Republic,Middle Africa,Sub-Saharan Africa,Africa,155,3.083,0.02600,0.00000,0.10500,0.22500,0.03500,0.23500,2.45700,2019
781,South Sudan,Eastern Africa,Sub-Saharan Africa,Africa,156,2.853,0.30600,0.57500,0.29500,0.01000,0.09100,0.20200,1.37400,2019

In [19]:
combined_file = combined_file[['year', 'country', 'region1', 'continent', 'happiness_rank', 'happiness_score', 'economy', 'family', 'life_expectancy', 
                              'freedom', 'govt_trust', 'generosity', 'dystopia_residual']]

combined_file.to_csv('WHR_combined_dataset.csv', index=False)